:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.addbutton{
  display:flex;
  max-width: 350px;
  margin: 5px auto;
  box-shadow: 0 2px 8px black;
  padding: 0.5rem;
   border-radius: 4px;
  border: 1px solid white;
  background-color: white;
  cursor: pointer;
}


.addbutton:hover{
  background-color: rgb(210, 121, 121);
}

.error{
  color: red;
  font-size: 12px;
  margin: 0 0 0.75rem 0;
}


.Expense-item{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 12px;
  box-shadow: 0 2px 4px black;
  background-color: aliceblue;
  max-width: 350px;
}
.Expense-item.positive{
  border-left: 5px solid green;
  border-right: 5px solid green;
}
.Expense-item.positive:hover{
  border-bottom: 3px solid green;
  border-top: 3px solid green;
}

.Expense-item.negative{
  border-right: 5px solid rgb(217, 32, 32);
  border-left: 5px solid rgb(217, 32, 32);
}
.Expense-item.negative:hover{
  border-bottom: 3px solid rgb(217, 32, 32);
  border-top: 3px solid rgb(217, 32, 32);
}
.income-expense-container{
  display:flex;
  justify-content: space-around;
  padding:1rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin: 1rem auto;
  max-width:350px;
}
.income,.expense{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.title{
  font-size: 20px;
  color:black
}
.income{
  color: green;
}
.expense{
  color:red
}
.block{
  width:2px;
  background-color: #aaa;
  border-radius: 10px;
}
.heading, .balance{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading{
  font-size:x-large;
  color: black;
  font-weight: 800;

}
.balance{
  margin-top: 20px;
  font-size: large;
  font-weight: 500;
}

.toadd{
  display:flex;
  flex-direction:column;
  max-width: 200px;
  margin: 1px auto;
  
}
#Amountinput{
  margin-top: 5px;
}

.delete-btn{
  padding: 0.5rem;
  border-radius: 4px;
  border: 5px solid rgb(211, 29, 29);
  background-color: white;
  cursor: pointer;
}
.delete-btn:hover{
  color: aqua;
}